# Rush uses this file to configure the NPM package registry during installation.
# It is used by operations such as "rush install" and "rush update".
#
# NOTE: The "rush publish" command uses .npmrc-publish instead.

registry=https://registry.npmjs.org/
always-auth=false
