@tailwind base;
@tailwind components;
@tailwind utilities;

/* Sponsor carousel scroll animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
